<!DOCTYPE html>
<html lang="en">
<head>
  <title>PARTIAL HEADER</title>
</head>
<body>
<%if(user_id === undefined){%>
    <form action='/register' method='get'>
      <label for="register">No user logged in:</label>
      <input type="submit" value="Register">
    </form>or<form action='/login' method='get'>
      <input type="submit" value="Login">
    </form>

<%}else{%>
<%="Logged in as :"+user_id%>
<form action='/logout' method = 'POST'>
<input type="submit" value="Logout">
</form>
<%}%>
</body>