<!DOCTYPE html>
<html lang="en">
<head>
  <title>PARTIAL HEADER</title>
</head>
<body>
<h1>Register new account<h1>
<form action='/register' method='POST'>
      <label for="user_id">Email:</label>
      <input id="user_id" type="text" name="user_id">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <input type="submit" value="Submit">
</form>
</body>